# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# IDEA
.idea
*.iml

# Distribution / packaging
env
build/
lib/

# Who the fuck has ever wanted this file?
.DS_Store
